# alterna o fluxo (new/legacy)
VITE_CHECKOUT_ENGINE=new

# Edge Functions (URLs públicas do Supabase)
VITE_FN_CREATE_ORDER=https://<YOUR-PROJECT-ID>.functions.supabase.co/checkout-create-order
VITE_FN_GET_ORDER=https://<YOUR-PROJECT-ID>.functions.supabase.co/checkout-get-order
VITE_FN_CONFIRM_ORDER=https://<YOUR-PROJECT-ID>.functions.supabase.co/checkout-pix-confirm
